<!DOCTYPE html>
<html>
<head>
  <title>Curriculum Vitae of Junjie Li</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="icon" href="assets/img/adjmatrix_black.png" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  <link rel="icon" href="assets/img/adjmatrix.png" media="(prefers-color-scheme: dark)">
</head>
<body>
  <div class="header">
    <h1>Junjie Li</h1>
    <p>Hunnan District, Shenyang, Liaoning Province, China</p>
    <p>Email address: 20225443@stu.neu.edu.cn | Phone number: +86-15279619392</p>
  </div>
  <div class="section-title bold">BACKGROUND</div>
  <ul>
    <div class="project">
      <h4 class="project-name">Undergraduate, Northeastern University, China (Project 985)</h4>
      <div class="project-date">Sep.2022-present</div>
    </div>
  <li>Major: Computer Science and Technology</li>
  <li>Grade Point Average: 90.941/100</li>
  <div>
    <h4>Main Courses:</h4>
    <ul>
      <li>Grade II First Semester: Data Structure (90), Discrete Mathematics I (99), Computational Theory (95)</li>
      <li>Grade I Second Semester: Advanced Mathematics II (96), Linear Algebra (96), Probability Theory and Mathematical Statistics (91)</li>
      <li>Grade I First Semester: Advanced Mathematics I (89)</li>
    </ul>
  </div>
  </ul>
  <div class="section-title bold">RESEARCH EXPERIENCE</div>
  <ul>
    <div class="project">
      <h4 class="project-name">The 18th Innovative Entrepreneurial Training Plan Program</h4>
      <div class="project-date">Oct.2023-present</div>
    </div>
    <li>Name: Infusion Intelligent Monitoring System Based on IoT Technology</li>
    <li>Participating in the development of an IoT-based infusion monitoring system using python aimed at improving clinical infusion safety and efficiency.</li>
    <li>The project focuses on real-time infusion monitoring and alerting using droplet detection sensors and IoT technology. Now we are still building and optimizing the system.</li>
    <div class="project">
      <h4 class="project-name">Bustub Database(C++), CMU15-445 Lab1</h4>
      <div class="project-date">Sep.2023-Oct.2023</div>
    </div>
    <li>Developed a buffer pool manager for a disk-oriented storage manager.</li>
    <li>Implemented thread-safe operations and LRU-K Replacement Policy to efficiently manage database pages between disk and main memory.</li>
    <li>Completed as a single-person project, highlighting skills in C++ and database management systems.</li>
    <div class="project">
      <h4 class="project-name">The 17th Innovative Entrepreneurial Training Plan Program</h4>
      <div class="project-date">Oct.2022-present</div>
    </div>
    <li>Name: Intelligent Detection Method of Elevator Trapped People Based on Video Images</li>
    <li>Developed a system using CSharp and OpenCV to detect trapped individuals in elevators through video image analysis.</li>
    <li>Implemented three algorithms: edge detection for monitoring elevator door movement, OCR technology for floor information recognition, and background subtraction for detecting elevator occupancy.</li>
  </ul>
  <div class="section-title bold">PATENTS</div>
  <ul>
    <div class="project">
      <h4 class="project-name">Junjie Li, "Internet Domain Name Information Management System", Software copyright, Patent Pending.</h4>
      <div class="project-date">Starting Mar.2024</div>
    </div>
    <li>Created a C++ based Internet domain management system with MySQL, QT framework, which has the features of hierarchical structure management, basic CRUD operation, rich animation and visualization interface, various user personalization settings and easy operation, which is developed entirely by myself.</li>
    <div class="project">
      <h4 class="project-name">Junjie Li,Tianjie Zhang,Junzhi Cheng,Keru Li et.al., "A Kind of Elevator Trapped Detection Device", Utility model patent, ZL202321839541.4, Authorized.</h4>
      <div class="project-date">July.2023-Feb.2024</div>
    </div>
    <li>The 17th Innovative Entrepreneurial Training Plan Program, focusing on the development of an "Intelligent Detection Method of Elevator Trapped People Based on Video Images", led to the filing and authorization of a utility model patent, enhancing the safety features in elevators. Among them, my task is responsible for the BaiduAl class of the program process.</li>
  </ul>
  <div class="section-title bold">SCIENCE COMPETITIONS</div>
  <ul>
    <div class="project">
      <h4 class="project-name">The 15th Chinese Mathematics Competitions, Provincial First Prize</h4>
      <div class="project-date">Nov.2023</div>
    </div>
    <li>Awarded for outstanding performance in calculus and ordinary differential equations, demonstrating advanced mathematical skills.</li>
    <div class="project">
      <h4 class="project-name">The 32nd China Undergraduate Mathematical Contest in Modeling, Provincial Second Prize</h4>
      <div class="project-date">Oct.2023</div>
    </div>
    <li>Utilized Python and simulated annealing algorithm to optimize the design of solar power tower heliostat fields which enhanced solar energy collection efficiency and thermal power output.</li>
  </ul>
  <div class="section-title bold">SKILLS AND SELF-EVALUATION</div>
  <ul>
    <h4>English Proficiency</h4>
    <li>Passed English Test CET-4 and CET-6, currently preparing for the TOEFL and GRE exams to further enhance English language skills.</li>
    <h4>Programming Skills</h4>
    <li>Comfortable with programming in C, C++, C#, Python, and front-end development using HTML.</li>
    <li>Familiar with database management using MySQL, and experienced in applying LaTeX, MATLAB and Multisim.</li>
    <li>Knowledgeable of the QT framework with C++ and adept in using Python's Flask framework for specialized application development.</li>
    <h4>Software and Tool</h4>
    <li>Comfortable with Linux operating systems and basic shell command-line operations.</li>
    <li>Familiar with Git for version control and collaborative development.</li>
    <li>Experienced in media editing and production using AE, PS, and PR.</li>
    <h4>Mathematical Abilities</h4>
    <li>In addition to completing the required math courses, enrolled in elective courses Functions of a Complex Variable and Integral Transforms (98).</li>
    <li>Expanded understanding beyond mandatory curriculum by taking Mathematics Analysis (89) and Advanced Algebra (93) during freshman year.</li>
    <h4>Communication and Collaboration</h4>
    <li>Possess strong communication and collaboration skills, enabling effective teamwork and productive interactions with colleagues.</li>
    <li>Skilled in executing assigned tasks efficiently, ensuring timely completion and high-quality results.</li>
  </ul>
</body>
</html>