<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>李俊洁的简历</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="icon" href="assets/img/adjmatrix_black.png" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  <link rel="icon" href="assets/img/adjmatrix.png" media="(prefers-color-scheme: dark)">
</head>
<body>
  <div class="header">
    <h1>李俊洁</h1>
    <p>中国辽宁省沈阳市浑南区</p>
    <p>电子邮件: 20225443@stu.neu.edu.cn | 电话: +86-15279619392</p>
  </div>
  <div class="section-title bold">背景介绍</div>
  <ul>
    <div class="project">
      <h4 class="project-name">东北大学（985工程大学）本科生</h4>
      <div class="project-date">2022年9月-至今</div>
    </div>
    <li>专业：计算机科学与技术</li>
    <li>平均成绩：90.941/100</li>
    <div>
      <h4>主修课程：</h4>
      <ul>
        <li>二年级第一学期：数据结构（90），离散数学I（99），计算理论（95）</li>
        <li>一年级第二学期：高等数学II（96），线性代数（96），概率论与数理统计（91）</li>
        <li>一年级第一学期：高等数学I（89）</li>
      </ul>
    </div>
  </ul>
  <div class="section-title bold">研究经验</div>
  <ul>
    <div class="project">
      <h4 class="project-name">第18届创新创业训练项目</h4>
      <div class="project-date">2023年10月-至今</div>
    </div>
    <li>项目名称：基于物联网技术的输液智能监护系统</li>
    <li>参与开发基于物联网的输液监护系统，使用Python，旨在提高临床输液的安全性和效率。</li>
    <li>项目侧重于实时输液监控和报警，使用滴液检测传感器和物联网技术。目前我们仍在构建和优化系统。</li>
    <!-- <div class="project">
      <h4 class="project-name">Bustub数据库(C++)，CMU15-445 Lab1</h4>
      <div class="project-date">2023年9月-2023年10月</div>
    </div>
    <li>开发了一个磁盘导向存储管理器的缓冲池管理器。</li>
    <li>实现了线程安全操作和LRU-K替换策略，以高效管理数据库页面在磁盘和主存之间的转移。</li>
    <li>作为个人项目完成，突出了在C++和数据库管理系统方面的技能。</li> -->
    <div class="project">
      <h4 class="project-name">第17届创新创业训练项目</h4>
      <div class="project-date">2022年10月-至今</div>
    </div>
    <li>项目名称：基于视频图像的电梯困人智能检测方法</li>
    <li>使用CSharp和OpenCV开发了一个通过视频图像分析检测电梯内困人情况的系统。</li>
    <li>实施了三种算法：用于监控电梯门运动的边缘检测，用于识别楼层信息的OCR技术和用于检测电梯占用情况的背景减除。</li>
  </ul>
  <div class="section-title bold">专利</div>
  <ul>
    <div class="project">
      <h4 class="project-name">李俊洁，“互联网域名信息管理系统”，软件版权，专利申请中。</h4>
      <div class="project-date">2024年3月开始</div>
    </div>
    <li>创建了一个基于C++的互联网域名管理系统，使用MySQL、QT框架，具有层次结构管理、基本的CRUD操作、丰富的动画和可视化界面、各种用户个性化设置和简便操作的特点，完全由我自己开发。</li>
    <div class="project">
      <h4 class="project-name">李俊洁, 张天杰, 程俊植, 李科儒等，“一种电梯困人检测装置”，实用新型专利，ZL202321839541.4，已授权。</h4>
      <div class="project-date">2023年7月-2024年2月</div>
    </div>
    <li>第17届创新创业训练项目，专注于开发“基于视频图像的电梯困人智能检测方法”，导致了一个实用新型专利的申请和授权，增强了电梯的安全功能。其中，我的任务负责程序过程中的BaiduAl类。</li>
  </ul>
  <div class="section-title bold">科学竞赛</div>
  <ul>
    <div class="project">
      <h4 class="project-name">第15届中国数学竞赛，省级一等奖</h4>
      <div class="project-date">2023年11月</div>
    </div>
    <li>在微积分和常微分方程方面的杰出表现获得奖励，展示了高级数学技能。</li>
    <div class="project">
      <h4 class="project-name">第32届中国大学生数学建模竞赛，省级二等奖</h4>
      <div class="project-date">2023年10月</div>
    </div>
    <li>使用Python和模拟退火算法优化太阳能塔日射场的设计，提高了太阳能收集效率和热能输出。</li>
  </ul>
  <div class="section-title bold">技能与自我评价</div>
  <ul>
    <h4>英语水平</h4>
    <li>通过英语四六级考试，目前正在准备托福和GRE考试，以进一步提高英语语言能力。</li>
    <h4>编程技能</h4>
    <li>熟练掌握C、C++、C#、Python以及使用HTML进行前端开发。</li>
    <li>熟悉使用MySQL进行数据库管理，有使用LaTeX、MATLAB和Multisim的经验。</li>
    <li>熟悉C++的QT框架，擅长Python的Flask框架进行专门的应用开发。</li>
    <h4>软件与工具</h4>
    <li>熟练使用Linux操作系统和基本的Shell命令行操作。</li>
    <li>熟悉Git进行版本控制和协同开发。</li>
    <li>在使用AE、PS和PR进行媒体编辑和制作方面具有经验。</li>
    <h4>数学能力</h4>
    <li>除了完成必修的数学课程外，还选修了复变函数和积分变换（98）。</li>
    <li>在大一期间修学了数学分析（89）和高等代数（93），扩展了课程以外的数学理解。</li>
    <h4>沟通与协作</h4>
    <li>具备强大的沟通和协作技能，能够有效地与同事进行团队合作和生产性互动。</li>
    <li>擅长高效完成分配的任务，确保及时完成和高质量的结果。</li>
  </ul>
</body>
</html>
